*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Chivo', sans-serif;
}

body {
    color: #fafad2;
    background-color: black;
}

.navbar-brand{
    margin-bottom: 25px;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .main-content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main-content section{
    padding: 20px;
    background: black;
    color: #fafad2;
    border-bottom: 1px solid #fafad2
}

