*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
}

body {
    color: #fafad2;
    /* background-image: linear-gradient(to right , black, #ffaa1d, #fafad2, #ffaa1d, black); */
    background-image: url(nice-stars.jpg);
}

#navbar {
    /* background-image: url(space_sunrise.jpg);
    background-size: 130% 250%; */
    background: black;
    margin: 5px;
    
}

.navbar-brand{
    margin: 5px;
    margin-right: 10px;
    color: whitesmoke;
    font-family: 'Audiowide', cursive;
    font-size: 26pt;
    text-shadow: 2px 2px 8px #fafad2;
}

section{
    padding: 50px;
    background: black;
    color: #fafad2;
    border: 1px solid #fafad2;
}

h3 {
    color: #007bff;
    padding: 10px;
}

footer {
    align-items: center;
}
